//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 08 14:43:42 2021
//! **************************************************************************

SCHEMATIC START;
COMP "pos_sel<1>" LOCATE = SITE "H4" LEVEL 1;
COMP "pos_sel<2>" LOCATE = SITE "K1" LEVEL 1;
COMP "pos_sel<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "pos_sel<4>" LOCATE = SITE "J3" LEVEL 1;
COMP "modo" LOCATE = SITE "L1" LEVEL 1;
COMP "PWM" LOCATE = SITE "E15" LEVEL 1;
COMP "CLK" LOCATE = SITE "E7" LEVEL 1;
COMP "pos_sel<0>" LOCATE = SITE "J4" LEVEL 1;
SCHEMATIC END;

