//.UCF PARA MOTOR A PASOS QUE OSCILA ENTRE UNA DIRECCION Y OTRA CON CAMBIO DE VELOCIDAD
NET "CLK" 	 		LOC = E7; 		//oscilador 50MHz

NET "SEL(0)" 		LOC = B14;		//SW7(MAS DERECHO) SELECTOR CON CODIGO GRAY PARA 4 VELOCIDADES
NET "SEL(1)" 		LOC = C14;		//SW6

NET "ENABLE" 		LOC = P14;		//SW1(MAS IZQUIERDO) SWITCH DE ENCENDIDO / APAGADO 

NET "SENSD"			LOC = F1;
NET "SENSI"			LOC = G1;
 
NET "MOTORAPA(0)"	LOC = F3;
NET "MOTORAPA(1)"	LOC = B3;
NET "MOTORAPA(2)"	LOC = A3;
NET "MOTORAPA(3)"	LOC = A4;

NET "LEDSW(0)" 	LOC = G15; 	// LEDBT D8
NET "LEDSW(1)" 	LOC = C15; 	// LEDBT D7
NET "LEDSW(2)" 	LOC = D15; 	// LEDBT D6
NET "LEDSW(3)" 	LOC = E15; 	// LEDBT D5
NET "LEDSW(4)" 	LOC = F15; 	// LEDBT D4
NET "LEDSW(5)" 	LOC = M15;  // LEDBT D3
NET "LEDSW(6)" 	LOC = N15; 	// LEDBT D2
NET "LEDSW(7)" 	LOC = P15; 	// LEDBT D1

NET "SEG(15)"		LOC = D5; 	//A PUERTO 6
NET "SEG(14)"		LOC = C5; 	//B
NET "SEG(13)"		LOC = C9; 	//C
NET "SEG(12)"		LOC = D8; 	//D
NET "SEG(11)"		LOC = C8; 	//E
NET "SEG(10)"		LOC = D10; 	//F
NET "SEG(9)"		LOC = C10; 	//G
NET "SEG(8)"		LOC = D11; 	//P
NET "SEG(7)"		LOC = B5; //ANODO 1
NET "SEG(6)"		LOC = A5; //ANODO 2
NET "SEG(5)"		LOC = A6; //ANODO 3
NET "SEG(4)"		LOC = C6; //ANODO 4

//LCD
//NET "RS" 			LOC = D13;
//NET "RW" 			LOC = E2;
//NET "ENA" 			LOC = A2;
//NET "DATA_LCD(0)" LOC = B3;
//NET "DATA_LCD(1)" LOC = A5;
//NET "DATA_LCD(2)" LOC = C6;
//NET "DATA_LCD(3)" LOC = A8;
//NET "DATA_LCD(4)" LOC = C9;
//NET "DATA_LCD(5)" LOC = A11;
//NET "DATA_LCD(6)" LOC = B13;
//NET "DATA_LCD(7)" LOC = B15;