NET "CLK" LOC = E7;
NET "CS" LOC = L1; //Son los switches hasta la izquierda
NET "RW" LOC = N2;
NET "ADDRESS[0]" LOC = M8;	//Son los switches hasta la derecha con ADRESS[0] siendo el bit ms pequeo
NET "ADDRESS[1]" LOC = N6;
NET "ADDRESS[2]" LOC = N4;
NET "DISPLAYS[0]" LOC = N15;
NET "DISPLAYS[1]" LOC = L14;
NET "DISPLAYS[2]" LOC = K15;
NET "DISPLAYS[3]" LOC = P14;
NET "DISPLAYS[4]" LOC = P15;
NET "DISPLAYS[5]" LOC = M15;
NET "DISPLAYS[6]" LOC = L15;
NET "DISPLAYS[7]" LOC = K13;
NET "DISPLAYS[8]" LOC = G12;
NET "DISPLAYS[9]" LOC = F13;
NET "DISPLAYS[10]" LOC = H12;
NET "DISPLAYS[11]" LOC = G13;
NET "DATA[0]" LOC = D10;	//P2, los deje en ese tipo de salidas porque ceo debes de poner botones y leds en la misma entrada
NET "DATA[1]" LOC = C10;
NET "DATA[2]" LOC = C7;
NET "DATA[3]" LOC = C8;
NET "DATA[4]" LOC = D5;
NET "DATA[5]" LOC = D6;
NET "DATA[6]" LOC = E4;
NET "DATA[7]" LOC = C4;