//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 23 01:51:12 2021
//! **************************************************************************

SCHEMATIC START;
COMP "MOTOR_DC" LOCATE = SITE "C15" LEVEL 1;
COMP "CLK" LOCATE = SITE "E7" LEVEL 1;
COMP "LED" LOCATE = SITE "D15" LEVEL 1;
COMP "ENCODER<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "ENCODER<1>" LOCATE = SITE "C5" LEVEL 1;
COMP "MOTORREDUCTOR" LOCATE = SITE "G15" LEVEL 1;
COMP "DISPLAY<0>" LOCATE = SITE "B9" LEVEL 1;
COMP "DISPLAY<1>" LOCATE = SITE "A9" LEVEL 1;
COMP "DISPLAY<2>" LOCATE = SITE "A8" LEVEL 1;
COMP "DISPLAY<3>" LOCATE = SITE "B7" LEVEL 1;
COMP "DISPLAY<4>" LOCATE = SITE "A7" LEVEL 1;
COMP "DISPLAY<5>" LOCATE = SITE "C6" LEVEL 1;
COMP "DISPLAY<6>" LOCATE = SITE "A6" LEVEL 1;
COMP "DISPLAY<7>" LOCATE = SITE "A5" LEVEL 1;
COMP "DISPLAY<8>" LOCATE = SITE "B5" LEVEL 1;
COMP "DISPLAY<9>" LOCATE = SITE "A4" LEVEL 1;
COMP "BOTON_LED" LOCATE = SITE "C8" LEVEL 1;
COMP "BOTON_MDC" LOCATE = SITE "D8" LEVEL 1;
COMP "DISPLAY<10>" LOCATE = SITE "A3" LEVEL 1;
COMP "DISPLAY<11>" LOCATE = SITE "B3" LEVEL 1;
COMP "DISPLAY<12>" LOCATE = SITE "F3" LEVEL 1;
COMP "DISPLAY<13>" LOCATE = SITE "E1" LEVEL 1;
COMP "DISPLAY<14>" LOCATE = SITE "F1" LEVEL 1;
COMP "DISPLAY<15>" LOCATE = SITE "G1" LEVEL 1;
COMP "BOTON_MR" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

