//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 30 15:35:01 2021
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E7" LEVEL 1;
COMP "SDA" LOCATE = SITE "E4" LEVEL 1;
COMP "SCL" LOCATE = SITE "C4" LEVEL 1;
COMP "ext" LOCATE = SITE "F11" LEVEL 1;
SCHEMATIC END;

