NET "clk" 		LOC = E7; //oscilador 50MHz

NET "SEL(0)" LOC = M8;		//SW7 SELECTOR CON CODIGO GRAY 0+,1-,2*,3/,4&,5|,6~,7^
NET "SEL(1)" LOC = N6;		//SW6
NET "SEL(2)" LOC = N4;		//SW5

NET "ENCODER(1)" LOC = C4; //SALIDAS DEL ENCODER
NET "ENCODER(0)" LOC = E4;
//NET "CAMBIO" 	  LOC = D6;	//BOTON EN EL ENCODER
NET "CAMBIO" 	  LOC = L1;	//SW 1

NET "LEDSW_R(0)" LOC = N14; 	// LEDBT D8 R
NET "LEDSW_R(1)" LOC = N7; 	// LEDBT D7 R
NET "LEDSW_R(2)" LOC = N5; 	// LEDBT D6 R
NET "LEDSW_R(3)" LOC = R13; 	// LEDBT D5 R
NET "LEDSW_R(4)" LOC = R8; 	// LEDBT D4 R
NET "LEDSW_R(5)" LOC = R6;    // LEDBT D3 R
NET "LEDSW_R(6)" LOC = P2; 	// LEDBT D2 R
NET "LEDSW_R(7)" LOC = M1; 	// LEDBT D1 R

NET "LEDSW_G(0)" LOC = M11; 	// LEDBT D8 G
NET "LEDSW_G(1)" LOC = M6; 	// LEDBT D7 G
NET "LEDSW_G(2)" LOC = M4; 	// LEDBT D6 G
NET "LEDSW_G(3)" LOC = P13; 	// LEDBT D5 G
NET "LEDSW_G(4)" LOC = R9; 	// LEDBT D4 G
NET "LEDSW_G(5)" LOC = P7; 	// LEDBT D3 G
NET "LEDSW_G(6)" LOC = R4; 	// LEDBT D2 G
NET "LEDSW_G(7)" LOC = N1; 	// LEDBT D1 G

NET "LEDSW_B(0)" LOC = N9; 	// LEDBT D8 B
NET "LEDSW_B(1)" LOC = M5; 	// LEDBT D7 B
NET "LEDSW_B(2)" LOC = M3; 	// LEDBT D6 B
NET "LEDSW_B(3)" LOC = R10; 	// LEDBT D5 B
NET "LEDSW_B(4)" LOC = N8; 	// LEDBT D4 B
NET "LEDSW_B(5)" LOC = R5; 	// LEDBT D3 B
NET "LEDSW_B(6)" LOC = P1; 	// LEDBT D2 B
NET "LEDSW_B(7)" LOC = L2; 	// LEDBT D1 B

//LCD
NET "RS" 	LOC = D13;
NET "RW" 	LOC = E2;
NET "ENA" 	LOC = A2;
NET "DATA_LCD(0)" LOC = B3;
NET "DATA_LCD(1)" LOC = A5;
NET "DATA_LCD(2)" LOC = C6;
NET "DATA_LCD(3)" LOC = A8;
NET "DATA_LCD(4)" LOC = C9;
NET "DATA_LCD(5)" LOC = A11;
NET "DATA_LCD(6)" LOC = B13;
NET "DATA_LCD(7)" LOC = B15;