//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 15 03:14:56 2021
//! **************************************************************************

SCHEMATIC START;
COMP "LEDS_R<3>" LOCATE = SITE "E15" LEVEL 1;
COMP "BOTON<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "LEDS_R<4>" LOCATE = SITE "F15" LEVEL 1;
COMP "LEDS_R<5>" LOCATE = SITE "M15" LEVEL 1;
COMP "DISPLAY<4>" LOCATE = SITE "A7" LEVEL 1;
COMP "LEDS_R<6>" LOCATE = SITE "N15" LEVEL 1;
COMP "DISPLAY<5>" LOCATE = SITE "C6" LEVEL 1;
COMP "LEDS_R<7>" LOCATE = SITE "P15" LEVEL 1;
COMP "DISPLAY<6>" LOCATE = SITE "A6" LEVEL 1;
COMP "DISPLAY<7>" LOCATE = SITE "A5" LEVEL 1;
COMP "DISPLAY<8>" LOCATE = SITE "B5" LEVEL 1;
COMP "DISPLAY<9>" LOCATE = SITE "A4" LEVEL 1;
COMP "DISPLAY<10>" LOCATE = SITE "A3" LEVEL 1;
COMP "ENCODER<0>" LOCATE = SITE "C10" LEVEL 1;
COMP "DISPLAY<11>" LOCATE = SITE "B3" LEVEL 1;
COMP "ENCODER<1>" LOCATE = SITE "D11" LEVEL 1;
COMP "DISPLAY<12>" LOCATE = SITE "F3" LEVEL 1;
COMP "DISPLAY<13>" LOCATE = SITE "E1" LEVEL 1;
COMP "DISPLAY<14>" LOCATE = SITE "F1" LEVEL 1;
COMP "DISPLAY<15>" LOCATE = SITE "G1" LEVEL 1;
COMP "CLK" LOCATE = SITE "E7" LEVEL 1;
COMP "LEDS_R<0>" LOCATE = SITE "G15" LEVEL 1;
COMP "BOTON<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "LEDS_R<1>" LOCATE = SITE "C15" LEVEL 1;
COMP "BOTON<1>" LOCATE = SITE "C5" LEVEL 1;
COMP "LEDS_R<2>" LOCATE = SITE "D15" LEVEL 1;
COMP "BOTON<2>" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

