//.UCF PARA TAMBOR DE JUGUETE
	 
	 
NET "CLK" 	 		LOC = E7; 		//oscilador 50MHz

NET "n_reset" 		LOC = M8;		//SW7 1 = Reset, 0 = Nada
//NET "PIEZO" 		LOC = E4;		//PIN DE ENTRADA PARA EL SENSOR PIEZOELECTRICO
NET "PIEZO" 		LOC = K3;		//BOTON QUE SIMULA EL SENSOR PIEZOELECTRICO
NET "BUZZER"		LOC = C4;		//PIN DE SALIDA PARA EL BUZZER PASIVO
NET "UP_DOWN" 		LOC = K1;		//BOTON 1 PARA HACER EL CAMBIO DE DIRECCION

NET "LEDS_R(0)" 	LOC = N14; 	// LEDBT D8 R
NET "LEDS_R(1)" 	LOC = N7; 	// LEDBT D7 R
NET "LEDS_R(2)" 	LOC = N5; 	// LEDBT D6 R
NET "LEDS_R(3)" 	LOC = R13; 	// LEDBT D5 R
NET "LEDS_R(4)" 	LOC = R8; 	// LEDBT D4 R
NET "LEDS_R(5)" 	LOC = R6;    // LEDBT D3 R
NET "LEDS_R(6)" 	LOC = P2; 	// LEDBT D2 R
NET "LEDS_R(7)" 	LOC = M1; 	// LEDBT D1 R

NET "LEDS_G(0)" 	LOC = M11; 	// LEDBT D8 G
NET "LEDS_G(1)" 	LOC = M6; 	// LEDBT D7 G
NET "LEDS_G(2)" 	LOC = M4; 	// LEDBT D6 G
NET "LEDS_G(3)" 	LOC = P13; 	// LEDBT D5 G
NET "LEDS_G(4)" 	LOC = R9; 	// LEDBT D4 G
NET "LEDS_G(5)" 	LOC = P7; 	// LEDBT D3 G
NET "LEDS_G(6)" 	LOC = R4; 	// LEDBT D2 G
NET "LEDS_G(7)" 	LOC = N1; 	// LEDBT D1 G

NET "LEDS_B(0)" 	LOC = N9; 	// LEDBT D8 B
NET "LEDS_B(1)" 	LOC = M5; 	// LEDBT D7 B
NET "LEDS_B(2)" 	LOC = M3; 	// LEDBT D6 B
NET "LEDS_B(3)" 	LOC = R10; 	// LEDBT D5 B
NET "LEDS_B(4)" 	LOC = N8; 	// LEDBT D4 B
NET "LEDS_B(5)" 	LOC = R5; 	// LEDBT D3 B
NET "LEDS_B(6)" 	LOC = P1; 	// LEDBT D2 B
NET "LEDS_B(7)" 	LOC = L2; 	// LEDBT D1 B

NET "SIETE_SEG(15)" 	LOC = K13; 	// A
NET "SIETE_SEG(14)" 	LOC = L15; 	// B
NET "SIETE_SEG(13)" 	LOC = M15; 	// C
NET "SIETE_SEG(12)" 	LOC = P15; 	// D
NET "SIETE_SEG(11)" 	LOC = P14; 	// E
NET "SIETE_SEG(10)" 	LOC = K15; 	// F
NET "SIETE_SEG(9)" 	LOC = L14; 	// G
NET "SIETE_SEG(8)" 	LOC = N15; 	// P
NET "SIETE_SEG(7)" 	LOC = G12;	// ANODO 1
NET "SIETE_SEG(6)" 	LOC = F13;	// A2
NET "SIETE_SEG(5)" 	LOC = H12;	// A3
NET "SIETE_SEG(4)" 	LOC = G13;	// A4
NET "SIETE_SEG(3)" 	LOC = H13;	// A5
NET "SIETE_SEG(2)" 	LOC = K11;	// A6
NET "SIETE_SEG(1)" 	LOC = J13;	// A7
NET "SIETE_SEG(0)" 	LOC = K12;	// A8