//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 25 19:06:25 2021
//! **************************************************************************

SCHEMATIC START;
COMP "sensor" LOCATE = SITE "C4" LEVEL 1;
COMP "clk" LOCATE = SITE "E7" LEVEL 1;
COMP "buzzer" LOCATE = SITE "E4" LEVEL 1;
COMP "start" LOCATE = SITE "L1" LEVEL 1;
COMP "hold" LOCATE = SITE "J3" LEVEL 1;
COMP "reset" LOCATE = SITE "K1" LEVEL 1;
COMP "p<0>" LOCATE = SITE "N9" LEVEL 1;
COMP "p<1>" LOCATE = SITE "M5" LEVEL 1;
COMP "p<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "p<3>" LOCATE = SITE "R10" LEVEL 1;
COMP "p<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "stop" LOCATE = SITE "M1" LEVEL 1;
SCHEMATIC END;

