//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 03 03:40:44 2020
//! **************************************************************************

SCHEMATIC START;
COMP "MOTOBOMBA<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "MOTOBOMBA<1>" LOCATE = SITE "C6" LEVEL 1;
COMP "VUMMER<0>" LOCATE = SITE "D5" LEVEL 1;
COMP "VUMMER<1>" LOCATE = SITE "C5" LEVEL 1;
COMP "VUMMER<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "VUMMER<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "VUMMER<4>" LOCATE = SITE "C8" LEVEL 1;
COMP "VUMMER<5>" LOCATE = SITE "D10" LEVEL 1;
COMP "VUMMER<6>" LOCATE = SITE "C10" LEVEL 1;
COMP "VUMMER<7>" LOCATE = SITE "D11" LEVEL 1;
COMP "LEDCONTENEDOR" LOCATE = SITE "F10" LEVEL 1;
COMP "SENSORES<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "SENSORES<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "SENSORES<2>" LOCATE = SITE "B5" LEVEL 1;
COMP "CONTENEDOR" LOCATE = SITE "F1" LEVEL 1;
COMP "SENSORES<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "SENSORES<4>" LOCATE = SITE "A3" LEVEL 1;
COMP "SENSORES<5>" LOCATE = SITE "B3" LEVEL 1;
COMP "SENSORES<6>" LOCATE = SITE "F3" LEVEL 1;
COMP "SENSORES<7>" LOCATE = SITE "E1" LEVEL 1;
COMP "CLK" LOCATE = SITE "E7" LEVEL 1;
SCHEMATIC END;

