NET "CLK"			LOC = E7; //oscilador 50MHz
 
NET "SENSORES(0)" LOC = A6; //SENSOR MAS BAJO DEL PRIMER CONTENETEDOR
NET "SENSORES(1)" LOC = A5;
NET "SENSORES(2)" LOC = B5;
NET "SENSORES(3)" LOC = A4;
NET "SENSORES(4)" LOC = A3;
NET "SENSORES(5)" LOC = B3;
NET "SENSORES(6)" LOC = F3;
NET "SENSORES(7)" LOC = E1; //SENSOR MAS ALTO DEL PRIMER CONTENETEDOR

NET "CONTENEDOR" 	LOC = F1; //SENSOR DEL FONDO DEL SEGUNDO CONTENEDOR

NET "VUMMER(0)"	LOC = D5;  //LED MAS IZQUIERDO = INDICADOR NIVEL MAS BAJO
NET "VUMMER(1)"	LOC = C5;
NET "VUMMER(2)"	LOC = C9;
NET "VUMMER(3)"	LOC = D8;
NET "VUMMER(4)"	LOC = C8;
NET "VUMMER(5)"	LOC = D10;
NET "VUMMER(6)"	LOC = C10;
NET "VUMMER(7)"	LOC = D11; //LED MAS DERECHO = INDICADOR NIVEL MAS ALTO

NET "LEDCONTENEDOR"	LOC = F10; //INDICA SI EL CONTENEDOR 2 ESTA VACIO

NET "MOTOBOMBA(0)"	LOC = A7; //(-)
NET "MOTOBOMBA(1)"	LOC = C6; //(+)

//NET "PWM"			LOC = B9; //SALIDA DEL PWM, SI ES QUE SE REQUIERE, EN EL
									 //CODIGO PWM ES UNA SENAL Y NO UN PUERTO