//! **************************************************************************
// Written by: Map P.20131013 on Sat Sep 25 04:57:43 2021
//! **************************************************************************

SCHEMATIC START;
COMP "display<6>" LOCATE = SITE "F13" LEVEL 1;
COMP "display<7>" LOCATE = SITE "G12" LEVEL 1;
COMP "display<8>" LOCATE = SITE "N15" LEVEL 1;
COMP "display<9>" LOCATE = SITE "L14" LEVEL 1;
COMP "display<10>" LOCATE = SITE "K15" LEVEL 1;
COMP "display<11>" LOCATE = SITE "P14" LEVEL 1;
COMP "display<12>" LOCATE = SITE "P15" LEVEL 1;
COMP "display<13>" LOCATE = SITE "M15" LEVEL 1;
COMP "B" LOCATE = SITE "E4" LEVEL 1;
COMP "display<14>" LOCATE = SITE "L15" LEVEL 1;
COMP "display<15>" LOCATE = SITE "K13" LEVEL 1;
COMP "F" LOCATE = SITE "D6" LEVEL 1;
COMP "S" LOCATE = SITE "L1" LEVEL 1;
COMP "V" LOCATE = SITE "D5" LEVEL 1;
COMP "display<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "CLK" LOCATE = SITE "E7" LEVEL 1;
COMP "display<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "display<2>" LOCATE = SITE "K11" LEVEL 1;
COMP "display<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "display<4>" LOCATE = SITE "G13" LEVEL 1;
COMP "display<5>" LOCATE = SITE "H12" LEVEL 1;
SCHEMATIC END;

