//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 31 15:28:52 2021
//! **************************************************************************

SCHEMATIC START;
COMP "SDA" LOCATE = SITE "E4" LEVEL 1;
COMP "SCL" LOCATE = SITE "C4" LEVEL 1;
COMP "clk" LOCATE = SITE "E7" LEVEL 1;
COMP "ledG" LOCATE = SITE "N1" LEVEL 1;
COMP "ledR" LOCATE = SITE "M1" LEVEL 1;
COMP "DISPLAY<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "DISPLAY<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "DISPLAY<2>" LOCATE = SITE "K11" LEVEL 1;
COMP "DISPLAY<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "DISPLAY<4>" LOCATE = SITE "G13" LEVEL 1;
COMP "DISPLAY<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "DISPLAY<6>" LOCATE = SITE "F13" LEVEL 1;
COMP "DISPLAY<7>" LOCATE = SITE "G12" LEVEL 1;
COMP "DISPLAY<8>" LOCATE = SITE "N15" LEVEL 1;
COMP "DISPLAY<9>" LOCATE = SITE "L14" LEVEL 1;
COMP "switch" LOCATE = SITE "L1" LEVEL 1;
COMP "DISPLAY<10>" LOCATE = SITE "K15" LEVEL 1;
COMP "DISPLAY<11>" LOCATE = SITE "P14" LEVEL 1;
COMP "DISPLAY<12>" LOCATE = SITE "P15" LEVEL 1;
COMP "DISPLAY<13>" LOCATE = SITE "M15" LEVEL 1;
COMP "DISPLAY<14>" LOCATE = SITE "L15" LEVEL 1;
COMP "DISPLAY<15>" LOCATE = SITE "K13" LEVEL 1;
SCHEMATIC END;

