//.UCF OPERACIONES MULTIPLICAR Y DIVIDIR POR MEDIO DE DIV_SHIFT
	 
NET "CLK" 	 		LOC = E7; 		//oscilador 50MHz

NET "ENCODER(0)"	LOC = M8;		//SW1
NET "ENCODER(1)"	LOC = N6;		//SW1
NET "ENCODER(2)"	LOC = N4;		//SW1
NET "ENCODER(3)"	LOC = P9;		//SW1
NET "ENCODER(4)"	LOC = R7;		//SW1
NET "ENCODER(5)"	LOC = P5;		//SW1
NET "ENCODER(6)"	LOC = N2;		//SW1
NET "ENCODER(7)"	LOC = L1;		//SW1

NET "BOTON(0)" 	LOC = K1;		//BOTON MULTIPLICAR X2
NET "BOTON(1)" 	LOC = J4;		//BOTON MULTIPLICAR X4
NET "BOTON(2)" 	LOC = K3;		//BOTON DIVIDIR /2
NET "BOTON(3)" 	LOC = H4;		//BOTON DIVIDIR /4

NET "LEDS_R(0)" 	LOC = N14; 	// LEDBT D8 R
NET "LEDS_R(1)" 	LOC = N7; 	// LEDBT D7 R
NET "LEDS_R(2)" 	LOC = N5; 	// LEDBT D6 R
NET "LEDS_R(3)" 	LOC = R13; 	// LEDBT D5 R
NET "LEDS_R(4)" 	LOC = R8; 	// LEDBT D4 R
NET "LEDS_R(5)" 	LOC = R6;    // LEDBT D3 R
NET "LEDS_R(6)" 	LOC = P2; 	// LEDBT D2 R
NET "LEDS_R(7)" 	LOC = M1; 	// LEDBT D1 R

NET "LEDS_G(0)" 	LOC = M11; 	// LEDBT D8 G
NET "LEDS_G(1)" 	LOC = M6; 	// LEDBT D7 G
NET "LEDS_G(2)" 	LOC = M4; 	// LEDBT D6 G
NET "LEDS_G(3)" 	LOC = P13; 	// LEDBT D5 G
NET "LEDS_G(4)" 	LOC = R9; 	// LEDBT D4 G
NET "LEDS_G(5)" 	LOC = P7; 	// LEDBT D3 G
NET "LEDS_G(6)" 	LOC = R4; 	// LEDBT D2 G
NET "LEDS_G(7)" 	LOC = N1; 	// LEDBT D1 G

NET "LEDS_B(0)" 	LOC = N9; 	// LEDBT D8 B
NET "LEDS_B(1)" 	LOC = M5; 	// LEDBT D7 B
NET "LEDS_B(2)" 	LOC = M3; 	// LEDBT D6 B
NET "LEDS_B(3)" 	LOC = R10; 	// LEDBT D5 B
NET "LEDS_B(4)" 	LOC = N8; 	// LEDBT D4 B
NET "LEDS_B(5)" 	LOC = R5; 	// LEDBT D3 B
NET "LEDS_B(6)" 	LOC = P1; 	// LEDBT D2 B
NET "LEDS_B(7)" 	LOC = L2; 	// LEDBT D1 B

NET "DISPLAY(15)" 	LOC = K13; 	// A
NET "DISPLAY(14)" 	LOC = L15; 	// B
NET "DISPLAY(13)" 	LOC = M15; 	// C
NET "DISPLAY(12)" 	LOC = P15; 	// D
NET "DISPLAY(11)" 	LOC = P14; 	// E
NET "DISPLAY(10)" 	LOC = K15; 	// F
NET "DISPLAY(9)" 		LOC = L14; 	// G
NET "DISPLAY(8)" 		LOC = N15; 	// P
NET "DISPLAY(7)" 		LOC = G12;	// ANODO 1
NET "DISPLAY(6)" 		LOC = F13;	// A2
NET "DISPLAY(5)" 		LOC = H12;	// A3
NET "DISPLAY(4)" 		LOC = G13;	// A4
NET "DISPLAY(3)" 		LOC = H13;	// A5
NET "DISPLAY(2)" 		LOC = K11;	// A6
NET "DISPLAY(1)" 		LOC = J13;	// A7
NET "DISPLAY(0)" 		LOC = K12;	// A8