//.UCF OPERACIONES MULTIPLICAR Y DIVIDIR POR MEDIO DE DIV_SHIFT
	 
NET "CLK" 	 				LOC = E7; 		//oscilador 50MHz

NET "ENCODER_SIM(0)"		LOC = M8;		//SW1
NET "ENCODER_SIM(1)"		LOC = N6;		//SW1
NET "ENCODER_SIM(2)"		LOC = N4;		//SW1
NET "ENCODER_SIM(3)"		LOC = P9;		//SW1
NET "ENCODER_SIM(4)"		LOC = R7;		//SW1
NET "ENCODER_SIM(5)"		LOC = P5;		//SW1
NET "ENCODER_SIM(6)"		LOC = N2;		//SW1
NET "ENCODER_SIM(7)"		LOC = L1;		//SW1

//NET "ENCODER(0)"		LOC = ;
//NET "ENCODER(0)"		LOC = ;

NET "BOTON_MR"				LOC = K1;
NET "BOTON_MDC"			LOC = J3;
NET "BOTON_LED"			LOC = K3;

NET "MOTORREDUCTOR"		LOC = E4;
NET "MOTOR_DC"				LOC = C4;
NET "LED"					LOC = C8;

NET "DISPLAY(15)" 	LOC = K13; 	// A
NET "DISPLAY(14)" 	LOC = L15; 	// B
NET "DISPLAY(13)" 	LOC = M15; 	// C
NET "DISPLAY(12)" 	LOC = P15; 	// D
NET "DISPLAY(11)" 	LOC = P14; 	// E
NET "DISPLAY(10)" 	LOC = K15; 	// F
NET "DISPLAY(9)" 		LOC = L14; 	// G
NET "DISPLAY(8)" 		LOC = N15; 	// P
NET "DISPLAY(7)" 		LOC = G12;	// ANODO 1
NET "DISPLAY(6)" 		LOC = F13;	// A2
NET "DISPLAY(5)" 		LOC = H12;	// A3
NET "DISPLAY(4)" 		LOC = G13;	// A4
NET "DISPLAY(3)" 		LOC = H13;	// A5
NET "DISPLAY(2)" 		LOC = K11;	// A6
NET "DISPLAY(1)" 		LOC = J13;	// A7
NET "DISPLAY(0)" 		LOC = K12;	// A8