//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 23 03:53:16 2021
//! **************************************************************************

SCHEMATIC START;
COMP "MOTOR_DC" LOCATE = SITE "C4" LEVEL 1;
COMP "CLK" LOCATE = SITE "E7" LEVEL 1;
COMP "LED" LOCATE = SITE "C8" LEVEL 1;
COMP "MOTORREDUCTOR" LOCATE = SITE "E4" LEVEL 1;
COMP "DISPLAY<0>" LOCATE = SITE "K12" LEVEL 1;
COMP "DISPLAY<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "DISPLAY<2>" LOCATE = SITE "K11" LEVEL 1;
COMP "DISPLAY<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "DISPLAY<4>" LOCATE = SITE "G13" LEVEL 1;
COMP "DISPLAY<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "DISPLAY<6>" LOCATE = SITE "F13" LEVEL 1;
COMP "DISPLAY<7>" LOCATE = SITE "G12" LEVEL 1;
COMP "DISPLAY<8>" LOCATE = SITE "N15" LEVEL 1;
COMP "DISPLAY<9>" LOCATE = SITE "L14" LEVEL 1;
COMP "ENCODER_SIM<0>" LOCATE = SITE "M8" LEVEL 1;
COMP "ENCODER_SIM<1>" LOCATE = SITE "N6" LEVEL 1;
COMP "ENCODER_SIM<2>" LOCATE = SITE "N4" LEVEL 1;
COMP "ENCODER_SIM<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "ENCODER_SIM<4>" LOCATE = SITE "R7" LEVEL 1;
COMP "ENCODER_SIM<5>" LOCATE = SITE "P5" LEVEL 1;
COMP "ENCODER_SIM<6>" LOCATE = SITE "N2" LEVEL 1;
COMP "ENCODER_SIM<7>" LOCATE = SITE "L1" LEVEL 1;
COMP "BOTON_LED" LOCATE = SITE "K3" LEVEL 1;
COMP "BOTON_MDC" LOCATE = SITE "J3" LEVEL 1;
COMP "DISPLAY<10>" LOCATE = SITE "K15" LEVEL 1;
COMP "DISPLAY<11>" LOCATE = SITE "P14" LEVEL 1;
COMP "DISPLAY<12>" LOCATE = SITE "P15" LEVEL 1;
COMP "DISPLAY<13>" LOCATE = SITE "M15" LEVEL 1;
COMP "DISPLAY<14>" LOCATE = SITE "L15" LEVEL 1;
COMP "DISPLAY<15>" LOCATE = SITE "K13" LEVEL 1;
COMP "BOTON_MR" LOCATE = SITE "K1" LEVEL 1;
SCHEMATIC END;

