//.UCF OPERACIONES MULTIPLICAR Y DIVIDIR POR MEDIO DE DIV_SHIFT PARA EL FPGA SYMBHIA
	 
NET "CLK" 	 		LOC = E7; 		//oscilador 50MHz

NET "BOTON(0)" 	LOC = D5;		//BOTON MULTIPLICAR X2		P6 MAS IZQUIERDO
NET "BOTON(1)" 	LOC = C5;		//BOTON MULTIPLICAR X4
NET "BOTON(2)" 	LOC = C9;		//BOTON DIVIDIR /2
NET "BOTON(3)" 	LOC = D8;		//BOTON DIVIDIR /4
																				//NC
																				//NC
NET "ENCODER(0)"	LOC = C10;		//OUTPUT A del encoder
NET "ENCODER(1)"	LOC = D11;		//OUTPUT B del encoder		P6 MAS DERECHO

NET "LEDS_R(0)" 	LOC = G15; 		// LEDBT D8 R
NET "LEDS_R(1)" 	LOC = C15; 		// LEDBT D7 R
NET "LEDS_R(2)" 	LOC = D15; 		// LEDBT D6 R
NET "LEDS_R(3)" 	LOC = E15; 		// LEDBT D5 R
NET "LEDS_R(4)" 	LOC = F15; 		// LEDBT D4 R
NET "LEDS_R(5)" 	LOC = M15;  	// LEDBT D3 R
NET "LEDS_R(6)" 	LOC = N15; 		// LEDBT D2 R
NET "LEDS_R(7)" 	LOC = P15; 		// LEDBT D1 R

//NET "LEDS_G(0)" 	LOC = M11; 	// LEDBT D8 G
//NET "LEDS_G(1)" 	LOC = M6; 	// LEDBT D7 G
//NET "LEDS_G(2)" 	LOC = M4; 	// LEDBT D6 G
//NET "LEDS_G(3)" 	LOC = P13; 	// LEDBT D5 G
//NET "LEDS_G(4)" 	LOC = R9; 	// LEDBT D4 G
//NET "LEDS_G(5)" 	LOC = P7; 	// LEDBT D3 G
//NET "LEDS_G(6)" 	LOC = R4; 	// LEDBT D2 G
//NET "LEDS_G(7)" 	LOC = N1; 	// LEDBT D1 G

//NET "LEDS_B(0)" 	LOC = N9; 	// LEDBT D8 B
//NET "LEDS_B(1)" 	LOC = M5; 	// LEDBT D7 B
//NET "LEDS_B(2)" 	LOC = M3; 	// LEDBT D6 B
//NET "LEDS_B(3)" 	LOC = R10; 	// LEDBT D5 B
//NET "LEDS_B(4)" 	LOC = N8; 	// LEDBT D4 B
//NET "LEDS_B(5)" 	LOC = R5; 	// LEDBT D3 B
//NET "LEDS_B(6)" 	LOC = P1; 	// LEDBT D2 B
//NET "LEDS_B(7)" 	LOC = L2; 	// LEDBT D1 B

NET "DISPLAY(15)" 	LOC = G1;	// A				P1 E/S MAS IZQUIERDO
NET "DISPLAY(14)" 	LOC = F1; 	// B
NET "DISPLAY(13)" 	LOC = E1; 	// C
NET "DISPLAY(12)" 	LOC = F3; 	// D
NET "DISPLAY(11)" 	LOC = B3; 	// E
NET "DISPLAY(10)" 	LOC = A3; 	// F
NET "DISPLAY(9)" 		LOC = A4; 	// G
NET "DISPLAY(8)" 		LOC = B5; 	// P
NET "DISPLAY(7)" 		LOC = A5; 	// ANODO 1
NET "DISPLAY(6)" 		LOC = A6;	// A2
NET "DISPLAY(5)" 		LOC = C6;	// A3
NET "DISPLAY(4)" 		LOC = A7;	// A4

NET "DISPLAY(3)" 		LOC = B7;	// A5
NET "DISPLAY(2)" 		LOC = A8;	// A6
NET "DISPLAY(1)" 		LOC = A9;	// A7
NET "DISPLAY(0)" 		LOC = B9;	// A8
//ESTOS NO ES NECESARIO QUE LOS CONECTES -^